:root {
    font-size: 62.5%;
    --color-seanymph: #7A9E93;
    --color-shilo: #E9C0B3;
    --color-burningsand: #D7927C;
    --color-dovegrey: #666666;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-almond: #F0D5CC;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
}

.app_container {
    max-width: 50rem;
    margin: auto;
    padding-top: 3rem;
}

.app_header {
    color: var(--color-dovegrey);
    font-size: 3rem;
}

.header_title {
    text-align: center;
}

.input_wrapper {
    max-width: 35rem;
    width: 100%;
    margin: auto;;
}

.input_search {
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15);
    font-size: 1.8rem;
    padding: 2rem;
    width: 100%;
}

.input_search:active,
.input_search:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0.8rem 0.4rem rgb(0, 0, 0, 0.4);
}

.section_container {
    padding-top: 3rem;
    position: relative;
}

.image_items {
    background-color: var(--color-burningsand);
    border-radius: 50%;
    height: auto;
    margin: auto;
    padding-top: 80%;
    position: relative;
    width: 80%;
}

.image_wrapper {
    position: absolute;
    width: 100%;
}

.button_search--random {
    position: absolute;
}

.img--main {
    position: absolute;
}

.data_wrapper {
    background-color: var(--color-seanymph);
    border-radius: 3rem 3rem 0 0;
    color: var(--color-white);
    margin-top: 15rem;
    padding: 26rem 4rem 4rem 4rem;
}

.data_heading {
    font-size: 4.8rem;
    text-align: center;
}

.data_item {
    border-bottom: 0.1rem solid var(--color-white);
}

.data_item-text {
    font-size: 1.5rem;
    font-style: italic;
}

.app_footer {
    align-items: center;
    background-color: var(--color-seanymph);
    color: var(--color-white);
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.footer_link:hover {
    color: var(--color-almond);
}

.footer_link {
    color: var(--color-white);
}

.footer_logo {
    margin-left: 1rem;
}


.icon-afghan-hound:before {
    content: "\e900";
}

.icon-airedale:before {
    content: "\e901";
}

.icon-akitas:before {
    content: "\e902";
}

.icon-american-staffordshire-terrier:before {
    content: "\e903";
}

.icon-basset-houd:before {
    content: "\e904";
}

.icon-beagle:before {
    content: "\e905";
}

.icon-bedlington-terrier:before {
    content: "\e906";
}

.icon-bernese-mountain:before {
    content: "\e907";
}

.icon-bichon-frise:before {
    content: "\e908";
}

.icon-bichon:before {
    content: "\e909";
}

.icon-border-collie:before {
    content: "\e90a";
}

.icon-boxer:before {
    content: "\e90b";
}

.icon-bulldog:before {
    content: "\e90c";
}

.icon-bullmastiff:before {
    content: "\e90d";
}

.icon-bullterrier:before {
    content: "\e90e";
}

.icon-chihuahua:before {
    content: "\e90f";
}

.icon-chinese-crested:before {
    content: "\e910";
}

.icon-chow-chow:before {
    content: "\e911";
}

.icon-collie:before {
    content: "\e912";
}

.icon-corgi:before {
    content: "\e913";
}

.icon-dachshund:before {
    content: "\e914";
}

.icon-dalmatian:before {
    content: "\e915";
}

.icon-doberman:before {
    content: "\e916";
}

.icon-english-cocker-spaniel:before {
    content: "\e917";
}

.icon-english-mastiff:before {
    content: "\e918";
}

.icon-french-bulldog:before {
    content: "\e919";
}

.icon-german-sheperd:before {
    content: "\e91a";
}

.icon-greyhound:before {
    content: "\e91b";
}

.icon-husky:before {
    content: "\e91c";
}

.icon-jack-russell-terrier:before {
    content: "\e91d";
}

.icon-japanese-chin:before {
    content: "\e91e";
}

.icon-kurzhaar:before {
    content: "\e91f";
}

.icon-malamute:before {
    content: "\e920";
}

.icon-mastiff:before {
    content: "\e921";
}

.icon-miniature-schnauzer:before {
    content: "\e922";
}

.icon-newfoundland:before {
    content: "\e923";
}

.icon-pharaoh-hound:before {
    content: "\e924";
}

.icon-pointer:before {
    content: "\e925";
}

.icon-pomeranian:before {
    content: "\e926";
}

.icon-poodle:before {
    content: "\e927";
}

.icon-pug:before {
    content: "\e928";
}

.icon-rottweiler:before {
    content: "\e929";
}

.icon-saluki:before {
    content: "\e92a";
}

.icon-shar-pei:before {
    content: "\e92b";
}

.icon-sheltie:before {
    content: "\e92c";
}

.icon-shih-tzu:before {
    content: "\e92d";
}

.icon-springer-spaniel:before {
    content: "\e92e";
}

.icon-st-bernard:before {
    content: "\e92f";
}

.icon-tibetan-mastiff:before {
    content: "\e930";
}

.icon-yorkshire-terrier:before {
    content: "\e931";
}







