:root {
    font-size: 62.5%;
    --color-seanymph: #7A9E93;
    --color-shilo: #E9C0B3;
    --color-burningsand: #D7927C;
    --color-dovegrey: #666666;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-almond: #F0D5CC;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
}

.app_container {
    max-width: 50rem;
    margin: auto;
    padding-top: 8rem;
}

.app_header {
    color: var(--color-dovegrey);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.header_title {
    padding-bottom: 3rem;
    text-align: left;
}

.input_wrapper {
    margin: auto;
    max-width: 35rem;
    width: 80%;
}

.input_search {
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15);
    font-size: 1.8rem;
    padding: 2rem;
    width: 100%;
}

.input_search:active,
.input_search:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4);
}

.input_list {

}

.input_list-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form_search {
    position: relative;
}

#suggestions {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#suggestions li {
    background: white;
    border-radius: 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    padding: 1.5rem;
    text-transform: uppercase;
  }

.section_container {
    padding-top: 3rem;
    position: relative;
}

.image_items {
    background-color: var(--color-burningsand);
    border-radius: 50%;
    height: auto;
    margin: auto;
    padding-top: 80%;
    position: relative;
    width: 80%;
}

.image_wrapper {
    position: absolute;
    width: 100%;
}

.img_main {
    left: 50%;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translate(-46%, -50%);
    width: 60%;
}

.button_search--random {
    border: none;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 8rem;
    padding: 1rem;
    pointer-events: auto;
    position: absolute;
    right: 3%;
    width: 8rem;
}

.img_random {
    height: 5.5rem;
    width: 6rem;
}

.button_search--random:focus,
.button_search--random:active {
    outline: none;
    box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.4);
}

.data_wrapper {
    background-color: var(--color-seanymph);
    border-radius: 3rem 3rem 0 0;
    color: var(--color-white);
    margin-top: 15rem;
    padding: 25rem 4rem 4rem 4rem;
}

.data_heading {
    font-size: 4.8rem;
    text-align: center;
}

.data_item {
    border-bottom: 0.1rem solid var(--color-white);
}

.data_item-text {
    font-size: 1.5rem;
    font-style: italic;
}

.app_footer {
    align-items: center;
    background-color: var(--color-seanymph);
    color: var(--color-white);
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding: 5rem;
}

.footer_link:hover {
    color: var(--color-almond);
}

.footer_link {
    color: var(--color-white);
}

.footer_logo {
    margin-left: 1rem;
}

.text--highlighted {
    background-color: var(--color-shilo);
}




